<div class="list-container col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading list">
      <h4>
        <%= list.title %>
      </h4>
    </div>
    <div class="descr">
      <%= list.description.truncate_words(10) if list.description.present? %>
    </div>

    <%= render 'cards/index', cards: list.cards  %>

    <div class="panel-footer">
      <%= link_to 'Add card', new_project_list_card_path(project_id: list.project.id, list_id: list.id) %>
      <%= link_to 'Show', project_list_path(project_id: list.project.id, id: list.id) %>
      <%= link_to 'Edit', edit_project_list_path(project_id: list.project.id, id: list.id) %>
      <%= link_to 'Destroy', project_list_path(project_id: list.project.id, id: list.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>