<div class="list-container col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading list">
      <h4>
        <%= list.title %>
      </h4>
    </div>
    <div class="descr">
      <%= list.description.truncate_words(10) if list.description.present? %>
    </div>

    <%= render 'cards/index', cards: list.cards  %>

    <div class="panel-footer">
      <%= link_to 'Add card', new_card_path %>
      <%= link_to 'Show', list %>
      <%= link_to 'Edit', edit_list_path(list) %>
      <%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>